---
layout: single
classes: wide
---

<p>
  <img src="/assets/images/photo.png" alt="image-left" class="align-left" />
  Welcome to my little corner of the internet!
</p>

<p>
  My name is Taisiia, and I’m a narrative designer and game screenwriter.
  There’s nothing I love more than crafting immersive, interactive stories that
  take players on a journey to fresh and exhilarating realms where they can
  experience something new and exciting. For me, the thrill of creating these
  stories and watching players get lost in them is the ultimate reward 🏆.
</p>

<p>
  I feel incredibly fortunate to have had the opportunity to work on a range of
  different and amazing projects throughout my career, including the popular
  home decor mobile game
  <a href="/published-games/design-masters/">Design Masters</a> by Playgendary and the
  gripping detective story
  <a href="/published-games/sunset-secrets/">Sunset Secrets</a> by Dou Dou Games.
  Currently, I’m working on an exciting new challenge - an AAA action adventure
  game called <a href="/published-games/time-of-the-sword/">Time of the Sword</a> with
  Alpha Games Studio. In this project, I am responsible for crafting not only
  the game’s plot and characters but also its world and lore based on Slavic
  folklore.
</p>

<p>
  But my love for storytelling doesn’t stop with my work projects. My passion
  drives me to explore different mediums. Currently, I’m working on a personal
  project - a visual novel in the psychological thriller genre called
  <a href="/published-games/mage-tower/">Mage Tower</a>. I’m also an avid tabletop
  role-playing gamer and have been designing my own D&amp;D campaign
  <a href="/published-games/an-average-adventure/"
    >An average adventure</a
  >
  that takes place in a homebrew world. Through this, I’ve honed my storytelling
  and world-building skills and have learned how to create engaging quests,
  encounters, and mechanics that keep players on their toes.
</p>

<p>
  ✍️ Apart from my work in game development, I also enjoy writing about
  narrative design and game storytelling, and I'm always open to new projects!
  (<a href="/hire-me">learn more</a>). I also write and translate articles for
  <a href="https://goodgame.ru/" target="_blank">GoodGame.ru</a>, a leading
  cyber-sports and game news portal. I even have my own column about board
  games, which I play often as a hobby.
</p>

<p>
  I’m happy to meet new creative people and share my hot passions for games and
  storytelling. So whether you’re a fellow writer, gamer, or just someone who
  loves a good tale, I invite you to join me on this journey. Here is my
  <a
    href="https://www.linkedin.com/in/taisiia-smirnova-narrative/"
    target="_blank"
    >LinkedIn</a
  >
  and
  <a
    href="https://www.facebook.com/profile.php?id=100011625884601"
    target="_blank"
    >Facebook</a
  >.
</p>

<p>Let’s make some magic happen together!</p>
